.startFadeInEffect,
.endFadeInEffect {
  transition: all 0.5s;
}

.startFadeInEffect {
  transform: translateY(100px);
  opacity: 0;
}

.endFadeInEffect {
  transform: none;
  opacity: 1;
}

.delayS {
  transition: all 0.8s;
}

.delayM {
  transition: all 1.1s;
}

.delayL {
  transition: all 1.4s;
}